body{
  margin: 0px;
  height: 100%;
  width: 100%;
}

#content{
  height: 100%;
  width: 100%;
  position: absolute;
}


canvas{
  position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}
